[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopy = "*"
pydantic = "*"
aiohttp = "*"
python-dotenv = "*"
pydantic-settings = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
cli = "python3 cli.py"
ui = "python3 ui.py"
