[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopy = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
cli = "python3 main.py"
